In [ ]:
# %pip install tenacity tqdm

Requirement already satisfied: tenacity in c:\users\rokaa\egyetem\basketball_lineup_analysis\.venv\lib\site-packages (9.1.2)
Requirement already satisfied: tqdm in c:\users\rokaa\egyetem\basketball_lineup_analysis\.venv\lib\site-packages (4.67.1)
Requirement already satisfied: colorama in c:\users\rokaa\egyetem\basketball_lineup_analysis\.venv\lib\site-packages (from tqdm) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from nba_api.stats.endpoints import BoxScoreAdvancedV2, LeagueDashTeamStats, LeagueGameFinder, LeagueDashPlayerStats, PlayByPlayV2, LeagueLineupViz, TeamPlayerOnOffSummary
from tenacity import retry, stop_after_attempt, wait_exponential
import pandas as pd
from tqdm import tqdm

pd.set_option('display.max_columns', None)

In [3]:
season = "2023-24"

In [4]:
player_stats = LeagueDashPlayerStats(season=season, season_type_all_star='Pre Season').get_data_frames()[0]
player_stats = player_stats[['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'GP', 'MIN', 'PTS', 'AST', 'REB', 'STL', 'BLK', 'TOV']]
player_stats.to_csv(f"../data/player_stats_{season}.csv", index=False)

In [5]:
player_stats.columns

Index(['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'GP', 'MIN', 'PTS', 'AST', 'REB',
       'STL', 'BLK', 'TOV'],
      dtype='object')

In [6]:
def fetch_team_stats(season):
    team_stats = LeagueDashTeamStats(season=season).get_data_frames()[0]
    team_stats = team_stats[['TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L']]
    return team_stats

def fetch_game_stats(season, team=None):
    if team is None:
        game_stats = LeagueGameFinder(season_nullable=season).get_data_frames()[0]
    else:
        game_stats = LeagueGameFinder(season_nullable=season, team_id_nullable=team).get_data_frames()[0]
    return game_stats

def fetch_player_stats(season):
    player_stats = LeagueDashPlayerStats(season=season).get_data_frames()[0]
    player_stats = player_stats[['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'GP', 'MIN', 'PTS', 'AST', 'REB', 'STL', 'BLK', 'TOV', 'PLUS_MINUS']]
    return player_stats

def fetch_lineup_data(season, minutes_min, team=None):
    if team is None:
        lineup_data = LeagueLineupViz(season=season, measure_type_detailed_defense="Advanced", minutes_min=minutes_min).get_data_frames()[0]
    else:
        lineup_data = LeagueLineupViz(season=season, measure_type_detailed_defense="Advanced", minutes_min=minutes_min, team_id_nullable=team).get_data_frames()[0]
    lineup_data = lineup_data[['GROUP_ID', 'GROUP_NAME', 'TEAM_ID' , 'OFF_RATING', 'DEF_RATING', 'NET_RATING']]
    return lineup_data

@retry(stop=stop_after_attempt(3), wait=wait_exponential(multiplier=1, min=2, max=30))
def fetch_events(game_id):
    play_by_play = PlayByPlayV2(game_id=game_id).get_data_frames()[0]
    play_by_play = play_by_play[[
        "GAME_ID",
        "EVENTNUM",
        "EVENTMSGTYPE",
        "PERIOD",
        "PCTIMESTRING",
        "PLAYER1_ID",
        "PLAYER1_NAME",
        "PLAYER1_TEAM_ID",
        "PLAYER1_TEAM_ABBREVIATION",
        "PLAYER2_ID",
        "PLAYER2_NAME",
        "PLAYER2_TEAM_ID",
        "PLAYER2_TEAM_ABBREVIATION"
    ]]
    return play_by_play

@retry(stop=stop_after_attempt(3), wait=wait_exponential(multiplier=2, min=5, max=40))
def fetch_team_on_off_summary(team_id, season):
    team_on_off_summary = TeamPlayerOnOffSummary(team_id=team_id, season=season).get_data_frames()[0]
    return team_on_off_summary

@retry(stop=stop_after_attempt(3), wait=wait_exponential(multiplier=2, min=5, max=40))
def fetch_player_on_summary(team_id, season):
    player_on_summary = TeamPlayerOnOffSummary(team_id=team_id, season=season).get_data_frames()[1]
    return player_on_summary

@retry(stop=stop_after_attempt(3), wait=wait_exponential(multiplier=2, min=5, max=40))
def fetch_player_off_summary(team_id, season):
    player_off_summary = TeamPlayerOnOffSummary(team_id=team_id, season=season).get_data_frames()[2]
    return player_off_summary

In [7]:
game_stats = fetch_game_stats(season)
game_stats

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42023,1610612742,DAL,Dallas Mavericks,0042300405,2024-06-17,DAL @ BOS,L,240,88,35,78,0.449,11,37,0.297,7,13,0.538,7,28,35,18,4,4,13,20,-18.0
1,42023,1610612738,BOS,Boston Celtics,0042300405,2024-06-17,BOS vs. DAL,W,240,106,38,89,0.427,13,39,0.333,17,20,0.850,15,36,51,25,9,2,7,15,18.0
2,42023,1610612742,DAL,Dallas Mavericks,0042300404,2024-06-14,DAL vs. BOS,W,240,122,46,91,0.505,15,37,0.405,15,22,0.682,13,39,52,21,7,2,8,17,38.0
3,42023,1610612738,BOS,Boston Celtics,0042300404,2024-06-14,BOS @ DAL,L,239,84,29,80,0.363,14,41,0.341,12,13,0.923,4,27,31,18,2,5,13,19,-38.0
4,42023,1610612738,BOS,Boston Celtics,0042300403,2024-06-12,BOS @ DAL,W,240,106,38,82,0.463,17,46,0.370,13,14,0.929,6,30,36,26,4,6,9,19,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378,12023,1610612742,DAL,Dallas Mavericks,0012300001,2023-10-05,DAL @ MIN,L,240,99,34,92,0.370,14,46,0.304,17,30,0.567,7,35,42,18,11,8,13,25,-12.0
4379,12023,1612709930,GLI,G League Ignite,2012300002,2023-09-08,GLI vs. PER,L,240,112,37,90,0.411,9,29,0.310,29,35,0.829,17,25,42,24,12,10,17,29,-15.0
4380,12023,104,PER,Perth Wildcats,2012300002,2023-09-08,PER @ GLI,W,238,127,39,77,0.506,15,29,0.517,34,39,0.872,10,29,39,25,10,8,21,23,15.0
4381,12023,104,PER,Perth Wildcats,2012300001,2023-09-06,PER @ GLI,L,239,105,36,91,0.396,11,36,0.306,22,26,0.846,21,19,40,27,13,8,21,21,-19.0
4382,12023,1612709930,GLI,G League Ignite,2012300001,2023-09-06,GLI vs. PER,W,240,124,48,82,0.585,8,22,0.364,20,23,0.870,11,32,43,27,12,10,22,23,19.0

In [8]:
game_stats[game_stats.GAME_ID == '0042300405']

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42023,1610612742,DAL,Dallas Mavericks,0042300405,2024-06-17,DAL @ BOS,L,240,88,35,78,0.449,11,37,0.297,7,13,0.538,7,28,35,18,4,4,13,20,-18.0
1,42023,1610612738,BOS,Boston Celtics,0042300405,2024-06-17,BOS vs. DAL,W,240,106,38,89,0.427,13,39,0.333,17,20,0.850,15,36,51,25,9,2,7,15,18.0

In [11]:
team_stats = fetch_team_stats(season=season)
team_stats = team_stats[0:1]

player_stats = fetch_player_stats(season=season)
player_stats = player_stats[player_stats.TEAM_ID == team_stats.TEAM_ID.values[0]]

lineup_data = fetch_lineup_data(season=season, minutes_min=5, team=team_stats.TEAM_ID.values[0])
lineup_data = lineup_data[lineup_data.TEAM_ID == team_stats.TEAM_ID.values[0]]
game_stats = fetch_game_stats(season=season, team=team_stats.TEAM_ID.values[0])

team_stats.to_csv("../data/team_stats.csv", index=False)
player_stats.to_csv("../data/player_stats.csv", index=False)
lineup_data.to_csv("../data/lineup_data.csv", index=False)
game_stats.to_csv("../data/game_stats.csv", index=False)

In [12]:
team_on_of = fetch_team_on_off_summary(team_id=team_stats.TEAM_ID.values[0], season=season)
team_on_of

,GROUP_SET,GROUP_VALUE,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Overall,2023-24,1610612737,ATL,Atlanta Hawks,82,36,46,0.439,3971.0,3529,7584,0.465,1125,3092,0.364,1520,1906,0.797,1024,2639,3663,2180,1110.0,615,369,461,1522,1594,9703,-179.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [13]:
all_team_on_off_summary = pd.DataFrame()
all_player_on_summary = pd.DataFrame()
all_player_off_summary = pd.DataFrame()
n = 0
for _, team in tqdm(team_stats.iterrows()):
  if n == 100:
    break
  n += 1
  try:
    team_on_off_summary = fetch_team_on_off_summary(team_id=team['TEAM_ID'], season=season)
    all_team_on_off_summary = pd.concat([all_team_on_off_summary, team_on_off_summary])

    player_on_summary = fetch_player_on_summary(team_id=team['TEAM_ID'], season=season)
    all_player_on_summary = pd.concat([all_player_on_summary, player_on_summary])

    player_off_summary = fetch_player_off_summary(team_id=team['TEAM_ID'], season=season)
    all_player_off_summary = pd.concat([all_player_off_summary, player_off_summary])

  except Exception as e:
    print(f"Skipping team {team['TEAM_ID']} after retries: {e}")

all_team_on_off_summary.to_csv("../data/team_on_off_summary.csv")
all_player_on_summary.to_csv("../data/player_on_summary.csv")
all_player_off_summary.to_csv("../data/player_off_summary.csv")

0it [00:00, ?it/s]

1it [00:00,  6.52it/s]

In [18]:
def create_player_on_of_summary(all_player_off_summary, all_player_on_summary, team_stats):
    all_player_on_off_summary = pd.DataFrame()
    ratings = ['NET_RATING', 'OFF_RATING', 'DEF_RATING']
    for _, team in team_stats.iterrows():
        for rating in ratings:
            players_on_summary = all_player_on_summary.loc[all_player_on_summary['TEAM_ID'] == team['TEAM_ID']]
            player_off_summary = all_player_off_summary.loc[all_player_off_summary['TEAM_ID'] == team['TEAM_ID']]

            # Merge the dataframes
            player_on_off_summary = pd.merge(players_on_summary, player_off_summary, on='VS_PLAYER_ID', suffixes=('_on', '_off'))
            player_on_off_summary[f'{rating}_DIFF'] = player_on_off_summary[f'{rating}_on'] - player_on_off_summary[f'{rating}_off']
            all_player_on_off_summary = pd.concat([all_player_on_off_summary, player_on_off_summary])
            
    all_player_on_off_summary.drop(columns=[
        'GROUP_SET_on',
        'TEAM_ID_on',
        'TEAM_ABBREVIATION_on',
        'TEAM_NAME_on',
        'VS_PLAYER_NAME_on',
        ], inplace=True)
    all_player_on_off_summary.rename(columns={
        'GROUP_SET_off': 'GROUP_SET',
        'TEAM_ID_off': 'TEAM_ID',
        'TEAM_ABBREVIATION_off': 'TEAM_ABBREVIATION',
        'TEAM_NAME_off': 'TEAM_NAME',
        'VS_PLAYER_NAME_off': 'VS_PLAYER_NAME',
    }, inplace=True)
    return all_player_on_off_summary

In [19]:
all_player_on_off_summary = create_player_on_of_summary(all_player_off_summary, all_player_on_summary, team_stats)
all_player_on_off_summary.to_csv("../data/player_on_off_summary.csv")

In [20]:
all_player_on_off_summary.columns

Index(['VS_PLAYER_ID', 'COURT_STATUS_on', 'GP_on', 'MIN_on', 'PLUS_MINUS_on',
       'OFF_RATING_on', 'DEF_RATING_on', 'NET_RATING_on', 'GROUP_SET',
       'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'VS_PLAYER_NAME',
       'COURT_STATUS_off', 'GP_off', 'MIN_off', 'PLUS_MINUS_off',
       'OFF_RATING_off', 'DEF_RATING_off', 'NET_RATING_off', 'NET_RATING_DIFF',
       'OFF_RATING_DIFF', 'DEF_RATING_DIFF'],
      dtype='object')

In [21]:
all_events = pd.DataFrame()
n = 0
for game in tqdm(game_stats.iterrows()):
  if n == 100:
    break
  n += 1
  try:
    events = fetch_events(game_id=game[1]['GAME_ID'])
    all_events = pd.concat([all_events, events])
  except Exception as e:
    print(f"Skipping game {game[1]['GAME_ID']} after retries: {e}")

all_events.to_csv("../data/events.csv")

88it [00:49,  1.79it/s]